@import "./StylesVariables.sass"

ul.navbar-nav
    padding-right: 1rem
    padding-top: .5rem
.link 
    color: $baseColor
    font-weight: bold
    padding: 0.2rem
    &:hover
        color: $hoverBtn
        text-decoration: none
.navbar-dark
    background-color: $black !important

@media (min-width:720px)
    .link
        margin-left: 5rem
        

